# Runtime requirements for Sire.

boost
gsl
lazy_import
libcblas
libnetcdf
openmm
qt
tbb
tbb-devel
rich
pandas

# This is not available on ARM64 Linux
pymbar<4; platform_machine == "x86_64"
pymbar<4; sys_platform == "darwin"
