# BioSimSpace requirements. These aren't needed by Sire, but allow it to be
# built in a self-consistent way, i.e. so BioSimSpace can be installed on top
# of it. These will be added to the "host" section of Sire's requirements,
# hence Sire will be built in an environment in which they are already
# installed.

# Optional packages: These packages aren't required by BioSimSpace, but are
# commonly installed by users alongside it. Adding them here allows a
# user to create environments with and without these packages installed.

# Both ambertools and gromacs aren't available on Mac (M1) or Windows
# We will only require them for Linux
ambertools ; sys_platform == "linux"
gromacs ; sys_platform == "linux"

# The following are actual BioSimSpace run-time requirements. Please update
# this list as new requirements are added.
alchemlyb ; python_version >= '3.8'
configargparse
ipywidgets<8
lomap2
nglview
openff-interchange-base
openff-toolkit-base
parmed
py3dmol
pydot
pygtail
pypdb
pyyaml
rdkit
watchdog

# The below are packages that aren't available on all
# platforms/OSs and so need to be conditionally included

kcombu_bss; platform_machine == "x86_64"   # not on Linux/arm64
kcombu_bss; sys_platform == "darwin"

mdtraj; platform_machine == "x86_64"   # not on Linux/arm64
mdtraj; sys_platform == "darwin"

mdanalysis; platform_machine == "x86_64"   # not on Linux/arm64
mdanalysis; sys_platform == "darwin"
