# [build]
# Requirements on all platforms needed to build Sire
cmake
git

clang_osx-64 ; sys_platform == "darwin"
clangxx_osx-64 ; sys_platform == "darwin"
make ; sys_platform == "darwin"
libtool ; sys_platform == "darwin"

gcc_linux-64 ; sys_platform == "linux"
gxx_linux-64 ; sys_platform == "linux"
make ; sys_platform == "linux"
libtool ; sys_platform == "linux"
sysroot_linux-64==2.17 ; sys_platform == "linux"

# [host]
# Requirements on all platforms that are needed to run Sire
lazy_import
boost==1.74.0
gsl==2.7
netcdf4==1.5.7
openmm==7.7.0
tbb==2021.5.0
tbb-devel==2021.5.0

pyqt==5.12.3; sys_platform != "darwin" or platform_machine != "arm64"
pyqt==5.15.2; sys_platform == "darwin" and  platform_machine == "arm64"

# [test]
# Requirements on all platforms needed to test Sire
pytest

# [biosimspace]
# Requirements on all platforms to allow BioSimSpace to
# be compatible with Sire
configargparse
fkcombu
lomap2
mdtraj
mdanalysis
nglview
openff-toolkit-base
parmed
py3dmol
pydot
pygtail
pypdb
pyyaml
rdkit
watchdog
