lazy_import
boost==1.74.0
gsl==2.7
netcdf4==1.5.7
openmm==7.7.0
tbb==2021.5.0
tbb-devel==2021.5.0
pyqt==5.12.3; sys_platform != "darwin" or platform_machine != "arm64"
pyqt==5.15.2; sys_platform == "darwin" and  platform_machine == "arm64"
